// Navigation code here
.navbar {
    .colorpad();
    .center();
    margin-left: 35%;
    margin-right: 35%;
    font-size: 18px;
}

h2 {
    .center();
    .colorpad();
}

a {
    text-decoration: none;
    color: @nav-font;
    margin: auto;
}

.top-header {
    background-color: @nav-bg;

    @media @phone {
        body {
            background-color: red;
        }   
    }
   }